<!-- Modify password modal -->
<div class="modal fade" id="modifyPasswordModal" tabindex="-1" role="dialog" aria-labelledby="Modify modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

                <!-- Modify password modal header -->
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title"> {{ lang["change_password"] }} </h4>
                </div>

                <!-- Modify password body -->
                <div class="modal-body my-3">

                    <!-- Modify password form -->
                    <form role="form" action="/profile_modify_password" method="post" id="pass_form" onsubmit="return validate_passwords(this)">

                        <!-- Password -->
                        <div class="form-group row">
                            <!-- Label -->
                            <label for="password" class="col-sm-1 col-form-label">
                                <span id="help">    <!-- Password tooltip (question icon) -->
                                    {% if session_role == "admin" %}
                                        <i class="fas fa-question-circle fa-lg ml-1 text-primary" data-toggle="tooltip" data-placement="top" title="{{ lang["password_tooltip"] }}"></i>
                                    {% else %}
                                        <i class="fas fa-question-circle fa-lg ml-1 text-info" data-toggle="tooltip" data-placement="top" title="{{ lang["password_tooltip"] }}"></i>
                                    {% endif %}
                                </span>
                            </label>

                            <div class="col-sm-11">     <!-- Password input field -->
                                <input name="password" type="password" class="form-control" id="password" pattern=".{8,20}" maxlength="20" aria-describedby="passwordHelpBlock" required placeholder="{{ lang["enter_password"] }}" title="{{ lang["between8-20"] }}">
                            </div>
                        </div>

                        <!-- Repeat password -->
                        <div class="form-group row">
                            <!-- Label -->
                            <label for="r_password" class="col-sm-1 col-form-label text-primary">
                                <span id="help">        <!-- Repeat password tooltip (question icon) -->
                                    <i class="fas fa-question-circle fa-lg ml-1" data-toggle="tooltip" data-placement="top" title="{{ lang["repeat_password_tooltip"] }}"></i>
                                </span>
                            </label>

                            <div class="col-sm-11">         <!-- Repeat password input field -->
                                <input name="r_password" type="password" class="form-control" id="r_password" pattern=".{8,20}" maxlength="20" aria-describedby="passwordHelpBlock" required placeholder="{{ lang["enter_repeat_password"] }}" title="{{ lang["between8-20"] }}" onblur="validate_passwords2()">
                                <div class="invalid-feedback">                  <!-- Error message if the password and repeat password aren't equals -->
                                     &nbsp {{ lang["invalid_password"] }}
                                </div>
                            </div>
                        </div>

                        <!-- Help text (below password field) -->
                        <div class="form-group text-center">
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                <em> {{ lang["password_help_text"] }} </em>
                            </small>
                        </div>

                        <!-- Show password button -->
                        <div class="form-group text-center">
                            <div class="custom-control custom-checkbox mt-1">
                                <input type="checkbox" class="custom-control-input" id="show_pass2" onclick="show_passwords()">
                                <label class="custom-control-label" for="show_pass2">
                                    {{ lang["show_pass2"] }}
                                </label>
                            </div>
                        </div>

                        <hr>
                        <div class="mt-4 text-center">		<!-- Modify password form buttons -->
                            {% if session_role == "admin" %}
                                <button type="submit" class="btn btn-success" name="key" value="{{ user_key }}">
                                    {{ lang["accept"] }}
                                    <i class="fas fa-check fa-sm"></i>
                                </button>
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">
                                    {{ lang["cancel"] }}
                                    <i class="fas fa-times fa-sm"></i>
                                </button>
                                <button type="reset" class="btn btn-secondary">
                                    {{ lang["restore"] }}
                                    <i class="fas fa-redo-alt fa-sm"></i>
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-info" name="key" value="{{ user_key }}">
                                    {{ lang["accept"] }}
                                    <i class="fas fa-check fa-sm"></i>
                                </button>
                                <button type="reset" class="btn btn-outline-info" data-dismiss="modal">
                                    {{ lang["cancel"] }}
                                    <i class="fas fa-times fa-sm"></i>
                                </button>
                                <button type="reset" class="btn btn-outline-info">
                                    {{ lang["restore"] }}
                                    <i class="fas fa-redo-alt fa-sm"></i>
                                </button>
                            {% endif %}
                        </div>

                    </form>
                    <!-- End of modify password form -->

                </div>
                <!-- End of modify password modal body -->
        </div>
    </div>
</div>
<!-- End of modify password modal -->