<!-- Modify username modal -->
<div class="modal fade" id="modifyUserNameModal" tabindex="-1" role="dialog" aria-labelledby="Modify modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

                <!-- Modify username modal header -->
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title"> {{ lang["modify_username"] }} </h4>
                </div>

                <!-- Modify username body -->
                <div class="modal-body my-3">

                    <!-- Modify username form -->
                    <form role="form" action="/profile_modify_username" method="post" id="modify_username" onsubmit="return validate_username(this)">
                        <div class="form-group row">
                            <!-- Label -->
                            <label for="username" class="col-sm-1 col-form-label">
                                <span id="help">                                            <!-- User name tooltip (question icon) -->
                                    {% if session_role == "admin" %}
                                        <i class="fas fa-question-circle fa-lg ml-1 text-primary" data-toggle="tooltip" data-placement="top" title="{{ lang["user_name_tooltip"] }}"></i>
                                    {% else %}
                                        <i class="fas fa-question-circle fa-lg ml-1 text-info" data-toggle="tooltip" data-placement="top" title="{{ lang["user_name_tooltip"] }}"></i>
                                    {% endif %}
                                </span>
                            </label>

                            <!-- Username input -->
                            <div class="col-sm-11">
                                <input type="text" class="form-control" name="username" id="username" placeholder="{{ lang["enter_new_username"] }}" required maxlength="20" onblur="validate_username2(this)">
                                <div class="invalid-feedback">                                  <!-- Error message if the username has more than 20 characters -->
                                    &nbsp {{ lang["invalid_user_name"] }}
                                </div>
                                <small id="usernameHelpBlock" class="form-text text-muted">     <!-- User name help text (below user name field) -->
                                    <em> &nbsp {{ lang["user_name_help_text2"] }} </em>
                                </small>
                            </div>
                        </div>

                        <hr>
                        <div class="mt-4 text-center">		<!-- Modify username form buttons -->
                            {% if session_role == "admin" %}
                                <button type="submit" class="btn btn-success" name="key" value="{{ user_key }}">
                                    {{ lang["accept"] }}
                                    <i class="fas fa-check fa-sm"></i>
                                </button>
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">
                                    {{ lang["cancel"] }}
                                    <i class="fas fa-times fa-sm"></i>
                                </button>
                                <button type="reset" class="btn btn-secondary">
                                    {{ lang["restore"] }}
                                    <i class="fas fa-redo-alt fa-sm"></i>
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-info" name="key" value="{{ user_key }}">
                                    {{ lang["accept"] }}
                                    <i class="fas fa-check fa-sm"></i>
                                </button>
                                <button type="reset" class="btn btn-outline-info" data-dismiss="modal">
                                    {{ lang["cancel"] }}
                                    <i class="fas fa-times fa-sm"></i>
                                </button>
                                <button type="reset" class="btn btn-outline-info">
                                    {{ lang["restore"] }}
                                    <i class="fas fa-redo-alt fa-sm"></i>
                                </button>
                            {% endif %}
                        </div>
                    </form>
                    <!-- End of modify username form -->

                </div>
                <!-- End of modify username modal body -->
        </div>
    </div>
</div>
<!-- End of modify username modal -->