<!-- Elements per page -->


<span data-toggle="tooltip" data-placement="right" title="{{ lang["elems_per_page"] }}">
    <form class="form-inline" action="/comics_change_num_elems" method="post" role="form">
        <select class="selectpicker" name="num_elems" data-width="fit" onchange="this.form.submit()" title="{{ comics|length }}">
            <option value="10"> 10 </option>
            <option value="20"> 20 </option>
            <option value="30"> 30 </option>
            <option value="40"> 40 </option>
            <option value="50"> 50 </option>
            {% if all_keys|length >= 10 %}
                <option value="{{ all_keys|length }}"> {{ lang['all'] }} </option>
            {% else %}
                <option value="10"> {{ lang['all'] }} </option>
            {% endif %}
        </select>
    </form>
</span>
