<!-- Modal used by the admin to add authors -->

<!-- Modal -->
<div class="modal fade" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="create_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="CreateModalLongTitle">  <!-- Title -->
                    {{ lang["add_author"] }}
                </h5>
            </div>

            <div class="modal-body">
                <form class="form" method="post" action="/authors_add" id="add_form" role="form" onsubmit="return validate_author_name(this)">
                    <input name="all_keys" value="{{ all_keys }}" style="display: none">        <!-- Authors list -->
                    <input name="keys_page_list" value="{{ keys_page_list }}" style="display: none">        <!-- Authors keys that are in the current page -->

                    <!-- Author name input -->
                    <div class="form-group">
                        <div>
                            <label for="add_name" class="col-form-label">
                                <strong> {{ lang["name"] }} </strong>           <!-- Author name label -->
                                <span id="help">                                <!-- Author name tooltip (question icon) -->
                                    <i class="fas fa-question-circle fa-lg text-primary" data-toggle="tooltip" data-placement="top" title="{{ lang["author_name_tooltip"] }}"></i>
                                </span>
                            </label>
                        </div>
                        <!-- Author name input field -->
                        <input name="name" type="text" class="form-control" id="add_name" aria-describedby="authorNameHelpBlock" maxlength="100" required placeholder="{{ lang["enter_author_name"] }}">
                        <div class="invalid-feedback">              <!-- Error message if the name validation is wrong -->
                            &nbsp {{ lang["invalid_author_name"] }}
                        </div>
                        <div>                                       <!-- Author name help text(below form field) -->
                            <small id="nameHelpBlock" class="form-text text-muted">
                                <em> &nbsp {{ lang["mandatory_field"] }} </em>
                            </small>
                        </div>
                    </div>

                    <!-- Form buttons -->
                    <hr>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">                          <!-- Submit button -->
                            {{ lang["accept"] }}
                            <i class="fas fa-check fa-sm"></i>
                        </button>
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">       <!-- Cancel button -->
                            {{ lang["cancel"] }}
                            <i class="fas fa-times fa-sm"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary">                         <!-- Reset button -->
                            {{ lang["restore"] }}
                            <i class="fas fa-redo-alt fa-sm"></i>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>