<!-- Ok toast (for the client) -->


<div class="toast" id="toast" role="status" aria-live="polite" aria-atomic="true" data-delay="10000" data-animation="true">
    <div class="toast-header border-bottom border-info">
        <i class="fas fa-check fa-bg text-info mr-2"></i>
        <strong class="mr-auto"> ComicLib </strong>
        <button type="button" class="ml-2 mb-1 close text-info" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true"> &times; </span>
        </button>
    </div>
    <div class="toast-body">
        {{ ok_message }}
    </div>
</div>